.react-calendar {
  &__navigation {
    @apply flex items-center justify-between mb-4;

    .react-calendar__navigation__next2-button,
    .react-calendar__navigation__prev2-button {
      @apply hidden;
    }
  }

  .react-calendar__century-view__decades__decade,
  .react-calendar__year-view__months__month,
  .react-calendar__decade-view__years__year {
    width: calc(100% / 3);
    @apply text-center mb-2 px-2 py-1 bg-transparent transition-all rounded;

    &:hover {
      @apply bg-primary text-white;
    }
  }

  @apply p-4;
  width: 350px;

  &__month-view__weekdays {
    >div {
      width: calc(100% / 7);
      @apply text-center px-2 mb-2;

      abbr {
        @apply font-smb;
      }
    }
  }

  &__month-view__days {
    >button {
      width: calc(100% / 7);
      @apply text-center px-2 py-1 bg-transparent transition-all rounded;

      &.react-calendar__tile--now,
      &.react-calendar__tile--active,
      &:hover {
        @apply bg-primary text-white;
      }

      &.react-calendar__tile--now {
        opacity: 0.6;

        &.react-calendar__tile--active {
          opacity: 1;
        }
      }
    }
  }
}